:root {
  --numbers-color: #692FA1;
  --numbers-color-hover: #7c3eb4;

  --operators-color: #4F1C6D;
  --operators-color-hover: #5a267d;

  --equal-color: #1E113F;
  --equal-color-hover: #2b1755;

  --control-color: #1E113F;
  --control-color-hover: #2b1755;

  --zero-color: #1E113F;
  --zero-color-hover: #2b1755;

  --border-color: rgba(255, 255, 255, 0.25);
}



body {
  background-image: url('https://i.pinimg.com/736x/b2/fb/21/b2fb21f206c56acc2007ed7e587d9770.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Faz o fundo ficar parado ao rolar */
  overflow-y: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}


.wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  height: 540px;

  backdrop-filter: blur(12px) saturate(150%);
  border: 1px solid var(--border-color);
  border-radius: 20px;

}


.sciButtons {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 12px;
  border-radius: 20px 0 0 20px;
  z-index: 1;
  height: 100%; 
  padding: 20px 12px;
  box-sizing: border-box;
  overflow-y: auto;
  align-items: flex-end;
}




.calculator {
  backdrop-filter: blur(12px) saturate(150%);
  border: 1px solid var(--border-color);
  border-radius: 20px;

  width: 340px;
  height: 540px;
  /*background-color: #3c006b;*/
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  color: white;
  z-index: 2;
  position: relative;
  margin-left: -20px;
  box-sizing: border-box;
}




.display {
  background-color: var(--numbers-color);
  border-radius: 20px;
  padding: 20px;
  font-size: 36px;
  text-align: right;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: bold;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.button {
  border: 2px solid var(--operators-color);
  background-color: var(--numbers-color);
  color: white;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.button:hover {
  transform: translateY(-5px);
}




.button.equal {
  background-color: var(--equal-color);
  color: white;
}

.button.equal:hover {
  background-color: var(--equal-color);
}

.button.zero {
  grid-column: span 2;
  border-radius: 32px;
  width: 100%;

}



.button.control {
  background-color: var(--control-color);
}
.button.control:hover {
  background-color: var(--control-color-hover);
}



.button.operator {
  background-color: var(--operators-color);
}
.button.operator:hover {
  background-color: var(--operators-color-hover);
}



.button.number {
  background-color: var(--numbers-color);
}
.button.number:hover {
  background-color: var(--numbers-color-hover);
}



.button.equal {
  background-color: var(--equal-color);
  color: white;
}
.button.equal:hover {
  background-color: var(--equal-color-hover);
}



.button.equal:hover {
  background-color: var(--equal-color);
}
.button.zero:hover {
  background-color: var(--zero-color-hover);
}