.display {
  /* Layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 70px;
  padding: var(--padding);
  overflow: hidden;

  /* Visual */
  background-color: var(--numbers-color);
  border-radius: var(--border-radius);

  /* Tipografia */
  font-size: var(--font-size-display);
  font-weight: bold;
  text-align: right;
}


.expression, .result {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}


.expression {
  font-size: var(--font-size-display);
  font-weight: bold;
  min-height: 32px;
}

.result {
  font-size: 16px;
  color: #ccc;
  min-height: 20px;
}


